/serverless/.dynamodb
/serverless/node_modules
/serverless/*__pycache__*
/serverless/.serverless
/serverless/.DS_Store
/serverless/config.

.DS_Store


alexa-skill/lambda/node_modules
alexa-skill/.ask/
alexa-skill/ask-resources.json
alexa-skill/.vscode
alexa-skill/.git